/* BreadCrumbs */
.nav-breadcrumbs + * {
    margin-top: 25px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    color: var(--font);
    font-size: 18px;
    line-height: 1.333em;
}
.breadcrumb svg {
    width: 12px;
    height: 12px;
    margin: 0 3px;
}

/* .breadcrumb li:not(.active)::after {
    content: " > ";
    display: inline-block;
    color: var(--font);
    margin: 0px 5px;
} */